@charset "UTF-8";

:root {
  /* 色管理用の変数 */
  --black-color: #000000;
  --white-color: #FFFFFF;
  --white-color02: #FFFAF6;
  --gray-color: #808080;
  --gray-color02: #333333;
  --primary-color: #42210B;
  --accent-color: #FF9C40;
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 800px;
  --content-width: 960px;
  --content-width-lg: 1088px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
}
/* ---------- base ---------- */
body {
    color: var(--black-color);
    font-size: 16px;
    font-family: "Noto Serif JP", serif;
    line-height: 1.8;
    letter-spacing: 0.1em;
  }
  
  /* ---------- utility ---------- */
  
  /* ---------- layout ---------- */
  .l_container-sm,
  .l_container,
  .l_container-lg {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
  
  .l_container-sm {
    max-width: calc(var(--content-width-sm) + 32px);
  }
  
  .l_container {
    max-width: calc(var(--content-width) + 32px);
  }
  
  .l_container-lg {
    max-width: calc(var(--content-width-lg) + 32px);
  }
  
  /* セクションごとの上下の余白 */
  .l_contents {
    padding: 120px 0;
  }


  .l_header {
    background: var(--white-color);
    padding: 0 48px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index-header);
    width: 100%;
    height: 72px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .l_header-nav {
    /* display: none; */
  }
  
  .l_header-nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  @media screen and (max-width: 767px) {
    .l_header-nav_list{
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .l_header-nav_list{
      gap: 20px;
    }
  }
  @media screen and (min-width: 1080px) {
    .l_header-nav_list{
      gap: 48px;
    }

  }
  
  .l_header-nav_item {
    color: var(--primary-color);
    font-weight: bold;
  }

  .l_footer {
    height: auto;
    padding: 64px 0 24px;
    background: var(--primary-color);
  }

  .l_footer-logo_thumb-wrapper{
    width: 200px;
    height: 75px;
    margin: 64px auto 48px auto;
  }
  @media screen and (max-width: 768px) {
    .l_footer-logo_thumb-wrapper{
      margin: 0 auto 48px auto;
    }
  }
  

  .l_footer-nav_list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  @media screen and (max-width: 768px) {
    .l_footer-nav_list{
      flex-direction: column;
      gap: 18px;
    }
  }
  
  .l_footer-nav_item {
    color: var(--white-color);
    font-weight: bold;
  }
  
  .l_footer-nav_link {
    display: flex;
    align-items: center;
  }
  .l_footer-sns-icon_wrapper{
    width: 20px;
    height: 20px;
    margin: 48px auto 0;
  }
  .l_footer-sns_icon{
    width: 100%;
    height: 100%;
  }

  .l_footer-copyright {
    padding-top: 48px;
    text-align: center;
  }
  
  .l_footer-copyright_txt {
    color: var(--white-color);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
  }
  /* ---------- module ---------- */

  .m_sec-ttl{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 120px;
    margin-bottom: 48px;
  }
  @media screen and (max-width: 767px) {
    .m_sec-ttl{
      justify-content: left;
    }
  }
  .m_sec-ttl::before,
  .m_sec-ttl::after{
    border-top: 2px solid var(--primary-color);
    content: "";
    width: 8em;
  }
  .m_sec-ttl::before{
    margin-right: 0.7em;
  }
  @media screen and (max-width: 767px) {
    .m_sec-ttl::before{
      display: none;
    }
  }
  .m_sec-ttl::after{
    margin-left: 0.7em;
  }
  @media screen and (max-width: 767px) {
    .m_sec-ttl::after{
      width: 20em;
    }
  }
  

  .m_hamburger {
    display: none;
    width: 32px;
    height: 28px;
    position: relative;
    z-index: var(--z-index-modal);
    border: none;
    background: transparent;
  }
  @media screen and (max-width: 767px) {
    .m_hamburger{
      display: block;
    }
  }
  .m_hamburger-bar {
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background: var(--primary-color);
  }
  
  .m_hamburger-bar:nth-child(1) {
    top: 0;
  }
  
  .m_hamburger-bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .m_hamburger-bar:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
  }


  .js_hamburger.is-active .m_hamburger-bar:first-child {
    top: 50%;
    transform: translate(-50%, 0) rotate(45deg);
  }
  
  .js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
    opacity: 0;
  }
  
  .js_hamburger.is-active .m_hamburger-bar:last-child {
    top: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
  }

  .js_navigation.is-active {
    opacity: 1;
    pointer-events: inherit;
  }

  .m_btn-wrapper {
    width: 280px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .m_btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .m_btn__more {
    color: var(--white-color);
    font-size: 18px;
    font-weight: bold;
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    position: relative;
    z-index: var(--z-index-default);
    cursor: pointer;
  }
  
  .m_btn__more::after {
    content: "";
    width: 60px;
    height: 15px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    transform: skew(45deg);width: 100px;
    height: 6px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    transform: skew(45deg);
  }

  .m_kv-box{
    position: relative;
    height: 400px;
  }
  .m_kv{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(63, 46, 26, 0.47), rgba(63, 46, 26, 0.47)), url("../img/menu_kv.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin-top: 72px;
  }
  
  @media screen and (max-width: 769px) {
    .m_kv{
      height: 320px;
    }
  }
  
  .m_kv-txt{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  /* ---------- top ---------- */

  /* .top_section_title {
    position: relative;
    color: var(--black-color);
    font-size: 32px;
    font-weight: bold;
  }

  .top_section_title::after {
    content: "";
    width: 71px;
    height: 8px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -16px;
  } */


  /* ---------- menu ---------- */
.menu-inner{
  margin: 0 140px;
}
@media screen and (max-width: 1024px) {
  .menu-inner{
    margin: 0 16px;
  }
}


.menu-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin-bottom: 48px;
}
@media screen and (max-width: 1024px) {
  .menu-list{
    gap: 24px;
  }
}
@media screen and (max-width: 767px) {
  .menu-list{
    display: block;
  }
}
.menu-item{
  width: 33%;
  height: 380px;
}
@media screen and (max-width: 767px) {
  .menu-item{
    width: 100%;
    margin-bottom: 48px;
    height: auto;
  }
  .menu-item:last-child{
    margin-bottom: 0;
  }
}
.menu-img{
  width: 100%;
  height: 100%;
}
.menu-txt-box{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
@media screen and (max-width: 1160px) {
  .menu-txt-box{
    display: block;
    padding: 16px 0;
  }
  .menu-price{
    text-align: right;
  }
}
.menu-dtl{
  font-size: 14px;
  word-break: break-all;
}

.other-menu-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .other-menu-list{
    flex-wrap: wrap;

  }
}
.other-menu-item{
  width: 24%;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .other-menu-item{
    width: 48%;
    height: 100%;
  }
  .menu-img-box{
    width: 100%;
  }
}
.other-menu-txt-box{
  padding: 8px 16px;
}
.other-menu-name{
  font-size: 14px;
  white-space: nowrap;
}

.other-menu-price{
  text-align: right;
}
  /* ---------- news ---------- */
  
  /* ---------- news-1 ---------- */
  
  /* ---------- contact ---------- */

<<<<<<< HEAD
  /* ----------- js --------------- */
  @media screen and (min-width: 1080px) {
  .js_navigation {
    pointer-events: auto;
    opacity: 1;
  }
}

.js_navigation.is-active {
  opacity: 1;
  pointer-events: inherit;
}

.js_hamburger.is-active .m_hamburger-bar:first-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}

.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  opacity: 0;
}

.js_hamburger.is-active .m_hamburger-bar:last-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
}

=======
  .js_nav-link.is-active{
    opacity: 0.3;
    border-bottom: solid;
  }
>>>>>>> develop
